<div style="color: black; text-align: left;">

    <p><strong>Aviso de Privacidad</strong></p>
    <p><br></p>
    <p>Para Qbitss S.A. DE C.V., (en lo sucesivo “Qbitss”) empresa de nacionalidad mexicana constituida conforme a las
        leyes de los Estados Unidos Mexicanos, el tratamiento legítimo, controlado e informado de sus datos personales
        es de vital importancia para alcanzar los objetivos como empresa a través de todas las áreas de la misma,
        reiterando nuestro compromiso y respeto con el derecho a la privacidad y a la autodeterminación informativa de
        las personas, atendiendo a los principios de licitud, consentimiento, calidad, información, finalidad, lealtad,
        proporcionalidad y responsabilidad.</p>
    <p>El presente Aviso de Privacidad tiene como objeto informarle sobre el tratamiento que se le dará a sus datos
        personales cuando los mismos sean recabados, utilizados, almacenados, transmitidos y/o transferidos por Qbitss.
        Lo anterior, en cumplimiento con lo establecido en la Ley Federal de Protección de Datos Personales en Posesión
        de los Particulares y su Reglamento respectivo (en adelante la “Ley”).</p>
    <p><br></p>
    <p><strong>Responsable del tratamiento de sus Datos Personales</strong></p>
    <p>Qbitss S.A. DE C.V., con domicilio en Av. Nuevo León 254 piso 2 Col. Hipódromo Condesa Del. Cuauhtémoc, CDMX. ,
        es el responsable de los datos personales que recabe por sí misma y, por ende, quién decidirá sobre el
        tratamiento que se le dé a sus datos personales.</p>
    <p><br></p>
    <p><strong>Datos Personales que se recaban</strong></p>
    <p>Qbitss podrá recabar y, en su caso, tratar los datos personales que a continuación se especifican, con base en la
        relación que con Usted exista: nombre completo, fecha de nacimiento, domicilio, teléfono, correo electrónico,
        empresa que representa y datos fiscales para efectos de facturación como la Clave del Registro Federal de
        Contribuyentes (RFC). Así mismo, en el caso de que opte por pagar los servicios y/o productos que le ofrece
        Qbitss a través de cargos recurrentes o pagos domiciliados, se recopilará la información referente a su cuenta
        bancaria, tarjeta de crédito o tarjeta de débito. Cabe mencionar que todos los datos personales antes reseñados
        son indispensables para que Qbitss pueda brindarles los servicios y/o productos contratados</p>
    <p>Podrán tratarse otros datos personales, sensibles y no sensibles, que no se incluyan en las listas anteriores
        siempre y cuando dichos datos se consideren de la misma naturaleza y no sean excesivos respecto a las
        finalidades para los cuales se recaban.</p>
    <p><br></p>
    <p><strong>Finalidades y/o Usos de los Datos Personales.</strong></p>
    <p>Qbitss recaba, utiliza, almacena, transmite o transfiere sus datos personales, en la medida en que la Ley lo
        permite, para cumplir con las obligaciones derivadas de la relación que con Usted exista o se vaya a crear, en
        virtud de la prestación de nuestros servicios y/o productos, por lo que sus datos personales también serán
        utilizados para las siguientes finalidades:</p>
    <ul>
        <li>Verificar y confirmar su identidad</li>
        <li>Proveer los servicios y/o productos que haya solicitado de Qbitss.</li>
        <li>Remitirle promociones publicitarias con fines informativos y/o de prospección comercial de nuestros
            servicios y/o productos.</li>
        <li>Comunicar sobre estados de cuenta, facturaciones, cambios, modificaciones en los servicios y/o productos de
            Qbitss.</li>
        <li>Para enviarle información relativa al estado que guarden los servicios prestados y/o productos ofrecidos por
            Qbitss y dar respuesta a sus duda o comentarios.</li>
        <li>Evaluar la calidad de nuestros servicios al realizar encuestas; conocer el mercado y el desempeño de la
            empresa dentro de este; dar seguimiento a las ventas a fin de alcanzar la satisfacción del Cliente.</li>
        <li>Log Files</li>
    </ul>
    <p><br></p>
    <p><strong>Transmisión y Transferencia de sus Datos Personales</strong></p>
    <p>Qbitss podrá contratar a uno o varios terceros como proveedores de servicios seleccionados para apoyar las
        actividades de promoción de nuestros servicios y/o productos, manejo y administración de los datos personales
        que se recaban a través de este sitio de internet, o por cualquier otro medio distinto, así como para fines de
        verificación de la información que usted nos proporciona, por lo que Qbitss podría incluso transferirlos a
        dicho(s) tercero(s) para cumplir con la prestación de los servicios contratados. De igual manera, Qbitss podrá
        sin fines comerciales, compartir o transmitir sus datos personales con sus empresas subsidiarias o filiales para
        los mismos fines establecidos. En ningún caso comercializaremos, venderemos o rentaremos información personal
        sobre usted a un tercero sin un consentimiento previo de su parte.</p>
    <p>Asimismo, en caso de que Usted proporcione a Qbitss datos personales de terceras personas, deberá manifestar a
        Qbitss que Usted se encuentra autorizado para proporcionar dichos datos, por lo que se obliga a sacar en paz y a
        salvo a Qbitss de cualquier reclamación que pudiera surgir al respecto.</p>
    <p>Se entiende que ha otorgado su consentimiento a la transferencia de sus datos personales, si no manifiesta
        oposición a que los mismos sean transferidos.</p>
    <p><br></p>
    <p><strong>Seguridad de los datos personales</strong></p>
    <p>Se establecen y mantienen para su tratamiento las medidas de seguridad, técnicas, administrativas y físicas,
        necesarias para procurar la integridad de sus datos personales y evitar su daño, pérdida, alteración,
        destrucción o el uso, acceso o tratamiento no autorizado. Estas medidas no son menores a las utilizadas en la
        información propia de Qbitss.</p>
    <p>Únicamente el personal autorizado de Qbitss que ha cumplido y observado los correspondientes requisitos de
        confidencialidad, podrá participar en el tratamiento de sus datos personales. El personal autorizado tiene
        prohibido permitir el acceso de personas no autorizadas y utilizar sus datos personales para fines distintos a
        los establecidos en el presente Aviso de Privacidad. La obligación de confidencialidad de las personas que
        participan en el tratamiento de sus datos personales subsiste aun después de terminada la relación con Qbitss.
    </p>
    <p><br></p>
    <p><strong>Derechos que le corresponden resppecto a sus datos personales</strong></p>
    <p>Usted podrá ejercitar ante Qbitss los derechos de acceso, rectificación, cancelación y oposición (derechos
        “ARCO”), establecidos en la Ley. Asimismo, podrá revocar, en todo momento, el consentimiento que haya otorgado y
        que fuese necesario para el tratamiento de sus datos personales. Lo anterior a través del envío de su petición
        por escrito en el domicilio de Qbitss ubicado en en Av. Nuevo León 254 piso 2 Col. Hipódromo Condesa Del.
        Cuauhtémoc, CDMX donde recibiremos la solicitud con la siguiente información:</p>
    <p>*Nombre, domicilio y correo electrónico, así como cualquier información complementaria que sirva para
        contactarle.

        *Los documentos que acrediten su identidad o, en su caso, la representación legal del titular.

        *Descripción clara y precisa que describa los derechos que se deseen ejercer, así como los datos personales
        involucrados.

        *En el caso de solicitar rectificación de datos personales, deberá acompañar la documentación que sustente la
        petición.

        *Señalar claramente datos del contacto del titular, siendo importante señalar que en el supuesto de que sea
        necesario el envío físico de los documentos, los gastos generados correspondientes serán a cargo del titular
        solicitante.</p>
    <p>La respuesta a la solicitud correspondiente para el ejercicio de los derechos ARCO, se hará llegar dentro del
        plazo de veinte días hábiles, contados a partir de la fecha en que se recibió la solicitud, de conformidad con
        lo establecido en el artículo 32 de la Ley, siempre y cuando no se encuentren bajo los supuestos de excepción a
        que se refieren los artículos 26 de la Ley y 75 de su reglamento.</p>
    <p><br></p>
    <p><strong>Cambios al Aviso de Privacidad</strong></p>
    <p>Qbitss se reserva el derecho de cambiar el contenido del presente aviso de privacidad en cualquier momento. En
        caso de que exista algún cambio en este Aviso de Privacidad, se le comunicará a través de nuestro portal de
        internet www.qbitss.com</p>
    <p>Le informamos que, ante la negativa de respuesta a la solicitud de derechos ARCO o inconformidad con la misma,
        usted puede presentar ante el Instituto Federal de Acceso a la Información y Protección de Datos, la
        correspondiente solicitud de Protección de Derechos en los plazos y términos fijados por la Ley y su Reglamento.
    </p>
</div>