<div class="page-header" data-parallax="true" style="background-image: url('../../../assets/img/bg-1.jpg');">
    <div id="circles1" class="circle-section circle-uno"></div>
    <div id="circles3" class="circle-section circle-tres"></div>
    <div id="circles2" class="circle-section circle-dos"></div>
    
    <div class="container container-glass">
        <div class="glass-panel">
            <h1>Seguridad</h1>
            <br />
            <p>Nuestros especialistas pueden tomar la administración de tus soluciones y equipos de seguridad con el fin de responder, 
                gestionar, mantener y desarrollar planes de acción frente a escenarios adversos.</p>
            <div class="glass-toolbar">
              <a href="#" target="_blank" class="glass-button">Conoce más</a>
            </div>
          </div>
 
    </div>
</div>
<div class="main">
    <div class="section section-nude text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Seguridad</h2>
                    <h5 class="description">Creamos soluciones enfocadas en seguridad para mantener tu organización protegida, cumpliendo con políticas y procesos.</h5>
                    <br>
                   
                </div>
            </div>
            <br/><br/>
            <div class="row">               
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-security animate__animated">
                            <i class="nc-icon nc-box"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Análisis Forense.</h4>
                            <p class="description">Prepárate para reducir el impacto de un incidente de seguridad. </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-security animate__animated">
                            <i class="nc-icon nc-laptop"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Hacking a SOC’s.</h4>
                            <p class="description">Evalúa tus medidas de seguridad actuales frente a un ataque real controlado, de SOC o tu equipo interno de seguridad. </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-security animate__animated">
                            <i class="nc-icon nc-paper"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Cumplimiento y Normatividad. </h4>
                            <p class="description">Alinea tu organización desde tus políticas internas hasta el control, implementando los estándares internacionales ISO 27000, Ley Federal de Protección de datos personales en posesión de los particulares (LFPDPPP), Manejo de ISO 27001, 9001, 20000.</p>
                            
                        </div>
                    </div>
                </div>
             
               
            </div>

        </div>
    </div>

    <div class="section text-center">
        <div class="container">
            
            <h2 class="title">Contacta ahora con un especialista Qbitss</h2>
        </div>
    </div>

</div>