<div class="wrapper">
    <div class="page-header" data-parallax="true" style="background-image: url('../../../assets/img/img-nosotros.jpg');">
        <!--<div class="filter"></div>-->
        <div class="container">
            <div class="motto text-center">
                
            </div>
        </div>
    </div>
    <div class="section profile-content">
        <div class="container">

            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center ">
                    <h6 class="description">Misión</h6>
                    <p class="text-muted">Materializamos las ideas de nuestros clientes y los acompañamos en su camino al éxito, empleando tecnología para crear servicios que nos permitan implementar sus estrategias empresariales, optimizar sus recursos y maximizar sus resultados.</p>
                    <br />
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center ">
                    <h6 class="description">Visión</h6>
                    <p class="text-muted">Qbitss es un aliado/socio de negocio en tecnología altamente especializada, flexible, confiable y con elevados estándares de seguridad y confidencialidad.
                     Somos una empresa global, innovadora y disruptiva que construye relaciones de largo plazo con su entorno y la sociedad en general.
                    </p>
                    <br />
                    
                </div>
            </div>
            <h6 class="description text-center">Nuestros valores</h6>

            <div class="row pt-5">                
                <div class="col-6 col-md-4">
                    <div class="owner">
                       
                        <div class="avatar">
                            <img src="../../../assets/img/faces/retos.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                        </div>
                        <div class="name">
                            <h4 class="title">Convicción y pasión por los retos <br /></h4>                    
                        </div>
                    </div> 
                </div>
                <div class="col-6 col-md-4">
                    <div class="owner">
                
                        <div class="avatar">
                            <img src="../../../assets/img/faces/innovacion.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                        </div>
                        <div class="name">
                            <h4 class="title">Innovación <br /></h4>                    
                        </div>
                    </div>  
                </div>
                <div class="col-6 col-md-4">
                    <div class="owner">                
                        <div class="avatar">
                            <img src="../../../assets/img/faces/confiabilidad.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                        </div>
                        <div class="name">
                            <h4 class="title">Confiabilidad <br /></h4>                    
                        </div>
                    </div>  
                </div>
            </div>                   
            <div class="row pt-3">
                <div class="col-6">
                    <div class="owner">
                        <div class="avatar">
                            <img src="../../../assets/img/faces/transparencia.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                        </div>
                        <div class="name">
                            <h4 class="title">Transparencia <br /></h4>                    
                        </div>
                    </div>  
                </div>
                <div class="col-6">
                    <div class="owner">
                        <div class="avatar">
                            <img src="../../../assets/img/faces/adaptabilidad.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                        </div>
                        <div class="name">
                            <h4 class="title">Adaptabilidad <br /></h4>                    
                        </div>
                    </div> 
                </div>
              </div>
                 
            
                 
           
                  
          
        </div>
    </div>
</div>
