<div class="page-header" data-parallax="true" style="background-image: url('assets/img/bg-3.jpg');">
    <div id="circlef1" class="circle-section circle-uno"></div>
    <div id="circlef3" class="circle-section circle-tres"></div>
    <div id="circlef2" class="circle-section circle-dos"></div>
    
    <div class="container container-glass">
        <div class="glass-panel">
            <h1>Software</h1>
            <br />
            <p>Detrás de cada gran desarrollo hay un gran flujo de trabajo. Nuestras soluciones en un modelo de fábrica de software están basada 
                en las necesidades de nuestros clientes aunado a nuestra experiencia en múltiples proyectos. </p>
            <div class="glass-toolbar">
              <a href="#" target="_blank" class="glass-button">Conoce más</a>
            </div>
          </div>
 
    </div>
</div>
<div class="main">
    <div class="section section-nude text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Desarrollo de software</h2>
                    <h5 class="description">Capacidades de entrega y procesos robustos para garantizar que la ejecución del proyecto se mueva de forma coherente.</h5>
                    <br>
                    
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-qbitss animate__animated">
                            <i class="nc-icon nc-album-2"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Comunicación asertiva.</h4>
                            <p class="description">Busca que la competencia multifuncional crezca para tener un grupo de recursos en constante crecimiento que se pueda implementar a través de verticales y entornos de proyectos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-qbitss animate__animated">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Prevención y/o Mitigación de Riesgos y Problemas.</h4>
                            <p class="description">Procesos de recopilación de métricas en todos los dominios funcionales para aumentar la eficiencia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-qbitss animate__animated ">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Escalamiento de Problemas y Riesgos.</h4>
                            <p class="description"> Economía de escala.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-qbitss animate__animated">
                            <i class="nc-icon nc-sun-fog-29"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Gestión del proyecto día a día.</h4>
                            <p class="description">Ofrecemos un enfoque de servicios robusto para garantizar la disponibilidad constante y mejora continua.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section  text-center">
        <div class="container ">
           
            <!--<div class="row">
                <div class="col-md-3">
                    <div class="card card-profile card-plain">                       
                        <div class="card-block">                          
                            <p class="card-description text-center text-muted">
                                
                            </p>
                        </div>                      
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-profile card-plain">                       
                        <div class="card-block">                          
                            <p class="card-description text-center text-muted">
                               
                            </p>
                        </div>                      
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-profile card-plain">                       
                        <div class="card-block">                          
                            <p class="card-description text-center text-muted">
                                
                            </p>
                        </div>                      
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-profile card-plain">                       
                        <div class="card-block">                          
                            <p class="card-description text-center text-muted">
                                
                            </p>
                        </div>                      
                    </div>
                </div>

             
            </div>-->
            <h2 class="title">Contacta ahora con un especialista Qbitss</h2>
        </div>
    </div>

</div>