<div class="wrapper">
    <div class="page-header section-dark"style="background-image: url('assets/img/home1.jpg')">
       <!-- style="background-color: #170666;" 
        <div class="content-center" id="carousel">
            <div class="container">              
                <div class="row">
                    <div class="col-12">
                        <div class="card page-carousel">
                            <ngb-carousel>
                                <ng-template ngbSlide>
                                    <img src="assets/img/home2vista.jpg" >
                                   
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="assets/img/home-3-vista.jpg" >
                                   
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="assets/img/home1.jpg" >
                                    
                                </ng-template>
                            </ngb-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
       
        <div class="content-center">
            <div class="container">
                <div class="title-brand">                   
                    <h2 class="presentation-title">Innovación y flexibilidad</h2>                 
                </div>
                <h2 class="presentation-subtitle text-left">en servicios de tecnología de la Información</h2>
            </div>
            <div class="col mt-2 text-left pt-3" routerLinkActive="active">
                <a [routerLink]="['/contact']" class="btn btn-cotton-candy btn-lg">Más información</a>
            </div>
        </div>
    </div>
    <div class="main">
    
        <div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="title">Servicios</h2>
                      
                    </div>
                </div>
                <br/><br/>
                <div class="row">
                    <div class="col-md-3">
                        <div class="info">
                            <h5 class="description pt-5">Transforma la nueva  normalidad en innovación, adaptando tus proyectos a los cambios del mercado mediante la incorporación de nuevas tecnologías y procesos de TI.</h5>
                            <br>
                            <!--<a  class="btn btn-danger btn-round">See Details</a>-->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <a [routerLink]="['/software']">
                            <div class="info">
                                <div class="icon icon-principal animate__animated">
                                    <img src="assets/img/icons/icono-software.png">
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Software</h4>
                                </div>
                            </div>
                        </a>
                       
                    </div>
                    <div class="col-md-3">
                        <a [routerLink]="['/datacenter']">
                            <div class="info">
                                <div class="icon icon-principal animate__animated">
                                    <img src="assets/img/icons/icono-datos.png">
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Centro de Datos</h4>
                                </div>
                            </div>
                        </a>
                       
                    </div>
                    <div class="col-md-3">
                        <a [routerLink]="['/security']">
                            <div class="info">
                                <div class="icon icon-principal animate__animated">
                                    <img src="assets/img/icons/icono-seguridad.png">
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Seguridad</h4>
                                </div>
                            </div>
                        </a>
                       
                    </div>
                 
                </div>
    
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-image section-login" style="background-image: url('assets/img/bg-1.png');">
            <div class="container">
                <h2 class="title text-center pt-3">Beneficios</h2>
                <div class="row">
                    
                    <div class="col-lg-6 col-md-6 col-sm-12">                       
                       
                        <div class="card glass">   
                            <img src="assets/img/icons/Grupo 337.svg" style="width: 70px; height: 70px;">                       
                                <h6 class="h6-ml text-white">Optimiza tu negocio</h6>
                                <span class="text-white">Obtén una ventaja tecnológica e inteligente en tus operaciones.
                                </span>                                                  
                        </div>                     
                       
                        <div class="card glass">   
                            <img src="assets/img/icons/Grupo 338.svg" style="width: 70px; height: 70px;">                       
                                <h6 class="h6-ml text-white">Herramientas inteligentes</h6>
                                <span class="text-white">Crea experiencias digitales en aplicaciones que profundicen la lealtad de tus usuarios para con tus productos y servicios.
                                </span>                                                  
                        </div>
                                           

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card glass">   
                            <img src="assets/img/icons/Grupo 336.svg" style="width: 70px; height: 70px;">                       
                                <h6 class="h6-ml text-white">Seguridad y control</h6>
                                <span class="text-white">Protege a tu organización, aterriza tus políticas y procesos. </span>                                                  
                        </div>
                        <div class="card glass">   
                            <img src="assets/img/icons/Grupo 339.svg" style="width: 70px; height: 70px;">                       
                                <h6 class="h6-ml text-white">Escalabilidad, agilidad y flexibilidad</h6>
                                <span class="text-white">Accionamos y entendemos rápidamente la evolución de nuestros clientes.</span>                                                  
                        </div> 
                        <!--<img src="assets/img/istockphoto-1150199386.jpg" class="img-rounded img-rounded-bg img-responsive">-->                
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-cotton-sugar">
            <div class="container">
                <div class="row example-page">
                    <div class="col text-center" routerLinkActive="active">
                        <h1 class="text-white">¿Tienes dudas?</h1>                                               
                    </div>
                    <div class="col pt-5">
                        <a [routerLink]="['/contact']" class="btn btn-cotton-candy btn-round ">Contáctanos</a> 
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>
