<div class="section" style="background-image: url(../../../assets/img/waveshape-top-blue.svg); background-size: cover;"></div>
<footer class="footer">
    <div class="container">

        <div class="row"> 
            <div class="col-md-6">
                <nav class="footer-nav">
                    <ul>
                        <!--<li><a href="#">ENGLISH</a></li>--><!--Cuando deba traducir la página rootear todo lo nuevo y enlazar desde aquí--> 
                        <li><a href="#">Únete al Equipo</a></li>
                        <app-modal-component></app-modal-component>
                        <!--<li><a href="#">Aviso de Privacidad</a></li>-->
                        
                        <li></li>
                        <li></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6">
                <nav class="footer-nav ml-auto">
                    <!--Descomentar esta lista para agregar las redes sociales-->
                    <!--<ul>
                       
                        <li class="nav-item" >
                            <a class="nav-link" rel="tooltip" title="Siguenos en Twitter" data-placement="bottom" href="https://twitter.com/" target="_blank">
                                <i class="fa fa-twitter"></i>
                                <p class="d-lg-none">Twitter</p>
                            </a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" rel="tooltip" title="Like en Facebook" data-placement="bottom" href="https://www.facebook.com/" target="_blank">
                                <i class="fa fa-facebook-square"></i>
                                <p class="d-lg-none">Facebook</p>
                            </a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" rel="tooltip" title="Buscanos en LinkedIn" data-placement="bottom" href="https://mx.linkedin.com/" target="_blank">
                                <i class="fa fa-linkedin"></i>
                                <p class="d-lg-none">LinkedIn</p>
                            </a>
                        </li>
                    </ul>-->
                </nav>  
            </div>          
                     
        </div>
        <div class="row">
            <div class="credits">
                <span class="copyright">
                    copyright© {{test | date: 'yyyy'}}, Qbitss Solutions | Todos los derechos reservados
                </span>
            </div>
        </div>
       
    </div>
</footer>
